#root {
  height: 100%;
  width: 100%;
  padding: 4rem;
}

/* Nav/button styles */
.main-heading {
  text-align: center;
}

.view-mode-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.view-mode-container > button {
  flex: 1;
}

/* Grid styles */
.gif-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

/* Search styles */
.search-container {
  margin: 0 auto;
}

.search-container > form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}
